*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.xtr

.DS_Store

drafting/ .html

drafting/N3402_UDLsuffixes.fls

drafting/D3642.pdf

drafting/N3xxx-UDLpart2-complex.pdf

drafting/N3xxx-complex_literals.pdf

drafting/Nxxxx.pdf

drafting/NXXXX_N3677.html

Debug
.metadata/
.settings/
*Test.xml
.*.html

workspace/units-1
drafting/other/PA*
drafting/other/acm*
